<header class="header" id="header">
  <div class="container header__container">
      <a href="./#hero" class="header__logo">
          Omnic-Zune<span class="dot">.</span>
      </a>

      <nav class="header__nav" id="nav-menu">
          <ul class="header__list">
              <li><a href="./#hero" class="header__link">Главная</a></li>
              <li><a href="./#about" class="header__link">Технология</a></li>
              <li><a href="./#benefits" class="header__link">Возможности</a></li>
              <li><a href="./#innovations" class="header__link">Инновации</a></li>
              <li><a href="./#blog" class="header__link">Блог</a></li>
              <li><a href="./#contact" class="header__cta mobile-only">Присоединиться</a></li>
          </ul>
      </nav>

      <div class="header__actions">
          <a href="./#contact" class="header__cta desktop-only">Начать сейчас</a>
          <button class="header__burger" id="burger-btn" aria-label="Меню">
              <i class="fa-solid fa-bars-staggered"></i>
          </button>
      </div>
  </div>
</header>
